<h1>Create a new post</h1>

<%= simple_form_for @post do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Back to Posts", posts_path %>
